body {
  background-color:white;
}

.navbar-static-top {
  margin-bottom: 30px;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
  background: #FFFFFF;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 50;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: #FF8C00;
  border-bottom-width: 3px;
}

table {
	border-spacing: 20px 20px;
}

.school{
	height: 225px;
	width: 225px;
}

.school_hold {
	background-color: white;
	padding: 20px;
	margin-right: 10px;
	margin-left: 10px;
	border-radius: 10px;
}

.school_title {
	font-size: 20px;
}

.school_body {
	font-size: 8px;
}

.hidden_school {
	height: 225px;
	width: 225px;
	padding: 20px;
}

.spacer {
	height: 225px;
	width:10px;
	background-color: #EEEEEE;
}

#name_label {
	font-size: 40px;
	text-transform: uppercase;
	/*padding-left:20px;*/
}

#intro_p {
	padding-left: 20px;
	padding-right: 20px;
	font-size: 20px;
}

#intro {
	font-size: 30px;
}

#selfie {
	border-top: none;
    border-left: none;
    border-bottom: none;
    border-color: #FF8C00;
    border-right-width: 3px;
}

#resume_pic {
	height: 1150;
	width: 800px;
}
